.about-carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    perspective: 500px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;

    .active {
      // filter: drop-shadow(0px 50px 100px rgba(0, 0, 0, 0.1));
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: $c-linear;
        opacity: 0.4;
        border-radius: 15px;
      }
    }
}

.about-carousel-item {
    visibility: hidden;
    width: 299px;
    height: 285px;
    border-radius: 15px;
    position: absolute;
    background: #C4C4C4;
    color: white;
    top: 0;
    left: 0;
    opacity: 1!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    img {
      width: 100%;
    }

    div {
      @include flex(column);
      position: absolute;
      bottom: 28px;
      left: 40px;
      z-index: 2;

      h5,p {
        display: block;
        font-size: 12px;
        text-align: left;
        margin: 2px 0;
        line-height: 1.2!important;
      }
    }
}

@include media (1300px) {
  .about-carousel-item {
    @include block(230px,219.23px);
  }
}

@include media (1000px) {
  .about-carousel-item {
    @include block(186.875px,178.125px);

    div {
      bottom: 18px;
      left: 25px;
    }
  }
}

@include media (768px) {
  .about-carousel {
    height: 300px;
  }
  .about-carousel-item {
    @include block(149.5px,142.5px);
  }
}

@include media (601px) {
  .about-carousel {
    perspective: 250px;
  }
  .about-carousel-item {

    div {
      bottom: 10px;
      left: 18px;
      p,h5 {
        font-size: 8px;
      }
    }
  }
}

@include media (500px) {
  .about-carousel {
    height: 280px;
    perspective: 170px;

    .active::after {
      border-radius: 10px;
    }
  }
  .about-carousel-item {
    // @include block(99.66px,95px);
    border-radius: 10px;
  }
}

@include media (425px) {
  .about-carousel {
    perspective: 180px;
    height: 150px;

    .active::after {
      border-radius: 8px;
    }
  }
  .about-carousel-item {
    @include block(119.6px,114px);
    border-radius: 8px;

    div {
      bottom: 8px;
      left: 14px;
      p,h5 {
        font-size: 7px;
      }
    }
  }
}

@include media (350px) {
  .about-carousel {
    perspective: 145px;
  }
}