.about {
  @include frame(100%);

  /**  ROW  **/
  // 1st row
  &__1st-row {
    @include block(100%, 792.31px);
    @include hero-img("../images/about-bg-1.png");
    @include flex();
    padding: {
      left: 12%;
      right: 12%;
      top: 100px;
    }
    box-sizing: border-box;
  }

  // 2nd row
  &__2nd-row {
    @include block(100%, 155px);
  }

  // 3th row
  &__3th-row {
    @include block(70%, 790px);
    background: $c-linear;
    margin: {
      left: auto;
      right: auto;
    }
    border-radius: 30px;
  }

  // 4th row
  &__4th-row {
    @include block(100%, 1050px);
    padding: {
      top: 100px;
    }
  }

  // 5th row
  &__5th-row {
    @include block(100%, 580px);
  }

  // 6th row
  &__6th-row {
    @include block(100%, 380px);
  }

  /**  COLUMN  **/
  // Column at the 1st row
  &__col-1 {
    &-1 {
      @include block(50%, auto);
      margin-top: 40px;

      h1 {
        @extend %h1-40px;
      }

      p {
        @extend %p-18px;
        line-height: 27px;
      }

      h5 {
        @extend %h5-12px;
      }
    }

    &-2 {
      @include block(50%, auto);
    }
  }

  // Column at 2nd row
  &__col-2 {
    @include frame(100%, auto, center);
    box-sizing: border-box;
    font-size: 16px;

    h2 {
      @extend %h2;
      font-size: 1.125em!important;
      line-height: 2.222em;
      top: -110px;
    }

    p {
      @extend %p-14px;
      text-align: center;
      font-size: 0.875em!important;
      margin: {
        top: -80px;
      }
    }

    @include media (666px) {
      font-size: 14px!important;
    }

    @include media (500px) {
      font-size: 14px!important;
      padding: 0 15px;
      box-sizing: border-box;

      h2 {
        br {
          display: none;
        }
      }
    }

    @include media (500px) {
      font-size: 13px!important;
      margin-top: -30px;
    }

    @include media (426px) {
      font-size: 12px!important;
    }
  }

  // Column at 3th row
  &__col-3 {
    @include block(100%);
    background: white;
    border-radius: 30px;
    border: 1px solid transparent;
    background-clip: padding-box;
    box-sizing: border-box;
    h2 {
      @extend %h2;
    }

    p {
      width: 50%;
      margin: {
        top: 40px;
        left: auto;
        right: auto;
        bottom: 40px;
      }
      font-size: 16px;
      color: $c-nav-link;
      text-align: center;
      line-height: 40px;
    }

    &-1 {
      padding: {
        top: 30px;
        bottom: 30px;
      }
      box-sizing: border-box;
      text-align: center;
    }

    &-2 {
      text-align: center;
      img {
        margin: {
          left: 15px;
          right: 15px;
        }
      }
    }
  }

  // Column at 4th row
  &__col-4 {
    h2 {
      @extend %h2;
    }

    .about__tree {
      @include frame(68%, auto, center);
      @include flex();
      margin: {
        top: 100px;
      };
    }

    p {
      line-height: 30px;
      font-size: 14px;
      color: $c-nav-link;
    }

    &-1 {
      padding-right: 50px;
      box-sizing: border-box;
      div:nth-child(2) {
        margin-top: 280px;
      }
      width: 50%;
      text-align: right;
      h1 {
        font-size: 24px;
        @include text-gradient($c-linear-2);
      }

      p {
        padding: {
          left: 85px;
        }
        box-sizing: border-box;
      }
    }

    &-3 {
      padding-left: 50px;
      box-sizing: border-box;
      width: 50%;
      div {
        margin-top: 220px;
      }
      h1 {
        font-size: 24px;
        @include text-gradient($c-linear-3);
      }
      p {
        padding: {
          right: 85px;
        }
        box-sizing: border-box;
      }
    }

    h3 {
      font-size: 12px;
      text-transform: uppercase;
      color: $c-nav-link;
      text-align: center;
      margin-top: 40px;
    }
  }

  // Column at 5th row
  &__col-5 {
    color: $c-nav-link;

    h2 {
      @extend %h2;
    }

    p {
      margin-top: 50px;
      font-size: 16px;
      text-align: center;
    }
  }

  &__col-6 {
    h2 {
      @extend %h2;
    }
    p {
      @extend %p-16px;
    }

    &-1 {
      @include flex(0, center);
      margin-top: 70px;
    }
  }
}