.about {
  @include frame(100%);

  /**  ROW  **/
  // 1st row
  &__1st-row {
    @include block(100%, 792.31px);
    @include hero-img("../images/about-bg-1.png");
    @include flex();
    padding: {
      left: 12%;
      right: 12%;
      top: 100px;
    }
    box-sizing: border-box;
  }

  // 2nd row
  &__2nd-row {
    @include block(100%, 155px);
  }

  // 3th row
  &__3th-row {
    @include block(70%, 790px);
    background: $c-linear;
    margin: {
      left: auto;
      right: auto;
    }
    border-radius: 30px;

    @include media (1025px) {
      width: 85%;
    }

    @include media (768px) {
      height: auto;
    }

    @include media (690px) {
      width: 90%;
    }

    @include media (450px) {
      width: 95%;
    }

    @include media (425px) {
      background: transparent;
    }
  }

  // 4th row
  &__4th-row {
    @include block(100%, 1050px);
    padding: {
      top: 100px;
    }

    @include media (533px) {
      height: auto;
      padding: {
        bottom: 50px;
      }
    }

    @include media (375px) {
      padding-top: 80px;
    }
  }

  // 5th row
  &__5th-row {
    @include block(100%, 580px);
  }

  // 6th row
  &__6th-row {
    @include block(100%, 380px);
    padding: 0 15px;
    box-sizing: border-box;
  }

  /**  COLUMN  **/
  // Column at the 1st row
  &__col-1 {
    &-1 {
      @include block(50%, auto);
      margin-top: 40px;

      h1 {
        @extend %h1-40px;
      }

      p {
        @extend %p-18px;
        line-height: 27px;
      }

      h5 {
        @extend %h5-12px;
      }
    }

    &-2 {
      @include block(50%, auto);
    }
  }

  // Column at 2nd row
  &__col-2 {
    @include frame(100%, auto, center);
    box-sizing: border-box;
    font-size: 16px;

    h2 {
      @extend %h2;
      font-size: 1.125em!important;
      line-height: 2.222em;
      top: -110px;
    }

    p {
      @extend %p-14px;
      text-align: center;
      font-size: 0.875em!important;
      margin: {
        top: -80px;
      }
    }

    @include media (666px) {
      font-size: 14px!important;
    }

    @include media (500px) {
      font-size: 14px!important;
      padding: 0 15px;
      box-sizing: border-box;

      h2 {
        br {
          display: none;
        }
      }
    }

    @include media (500px) {
      font-size: 13px!important;
      margin-top: -30px;
    }

    @include media (426px) {
      font-size: 12px!important;
    }
  }

  // Column at 3th row
  &__col-3 {
    @include block(100%);
    background: white;
    border-radius: 30px;
    border: 1px solid transparent;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0 15px;
    h2 {
      @extend %h2;
    }

    p {
      margin: {
        top: 2.500em;
        left: auto;
        right: auto;
        bottom: 2.500em;
      }
      font-size: 1em!important;
      color: $c-nav-link;
      text-align: center;
      line-height: 2.500em;
    }

    &-1 {
      padding: {
        top: 30px;
        bottom: 30px;
      }
      box-sizing: border-box;
      text-align: center;
    }

    &-2 {
      text-align: center;
      img {
        margin: {
          left: 15px;
          right: 15px;
        }
      }
    }

    @include media (690px) {
      p {
        br {
          display: none;
        }
      }
    }

    @include media (768px) {
      &-2 {
        margin-bottom: 30px;
      }
    }

    @include media (560px) {
      font-size: 14px!important;

      p {
        margin-bottom: 20px;
      }
    }

    @include media (450px) {
      &-2 {
        img {
          width: 25px;
        }
      }
    }

    @include media (425px) {
      &-1 {
        padding-top: 0;
        padding-bottom: 10px;
      }
    }

    @include media (375px) {
      font-size: 13px!important;
    }
  }

  // Column at 4th row
  &__col-4 {
    font-size: 16px;
    h2 {
      @extend %h2;
    }

    .about__tree {
      @include frame(90%, auto, center);
      @include flex();
      margin: {
        top: 100px;
      };
      
      div {
        font-size: 16px;

        h1 {
          font-size: 1.5em;
        }
      }
    }

    p {
      line-height: 2.143em;
      font-size: 0.875em;
      color: $c-nav-link;
    }

    &-1 {
      padding-right: 50px;
      box-sizing: border-box;
      div:nth-child(2) {
        margin-top: 280px;
      }
      width: 50%;
      text-align: right;
      h1 {
        @include text-gradient($c-linear-2);
      }
    }

    &-3 {
      padding-left: 50px;
      box-sizing: border-box;
      width: 50%;
      div {
        margin-top: 220px;
      }
      h1 {
        @include text-gradient($c-linear-3);
      }
    }

    h3 {
      font-size: 0.750em;
      text-transform: uppercase;
      color: $c-nav-link;
      text-align: center;
      margin-top: 40px;
    }

    @include media (1024px) {
      br {
        display: none;
      }
    }

    @include media (810px) {
      &-1 {
        div:nth-child(2) {
          margin-top: 200px;
        }
      }
    }

    @include media (720px) {
      font-size: 15px;
      .about__tree {
        div {
          font-size: 15px;
        }

        .about__col-4-1 {
          padding-right: 20px;
        }

        .about__col-4-3 {
          padding-left: 20px;
        }
      }
    }

    @include media (533px) {
      font-size: 13px;
      .about__tree {
        div {
          font-size: 12px;
        }
        .about__col-4-2 {
          height: 600px;

          img {
            height: 100%;
          }
        }

        .about__col-4-1 {
          padding-right: 15px;
        }

        .about__col-4-3 {
          div {
            margin-top: 190px;
          }
          padding-left: 15px;
        }
      }
    }

    @include media (375px) {
      .about__tree {
        max-width: 100%;
        margin-top: 70px;
      }
    }

    @include media (375px) {
      font-size: 12px;
      .about__tree {
        div {
          font-size: 11px;
        }
      }
    }

  }

  // Column at 5th row
  &__col-5 {
    color: $c-nav-link;

    h2 {
      @extend %h2;
    }

    p {
      margin-top: 50px;
      font-size: 16px;
      text-align: center;
    }
  }

  &__col-6 {
    font-size: 16px;
    h2 {
      @extend %h2;
    }
    p {
      @extend %p-16px;
    }

    &-1 {
      @include flex(0, center);
      margin-top: 70px;
    }

    @include media (425px) {
      font-size: 14px;
    }

    @include media (334px) {
      font-size: 13px;
    }
  }
}