.about {
  @include frame(100%);

  /**  ROW  **/
  // 1st row
  &__1st-row {
    @include block(100%, 792.31px);
    @include hero-img("../images/about-bg-1.png");
    @include flex();
    padding: {
      left: 12%;
      right: 12%;
      top: 100px;
    }
    box-sizing: border-box;
  }

  /**  COLUMN  **/
  // Column at the 1st row
  &__col-1 {
    &-1 {
      @include block(50%, auto);
      margin-top: 40px;

      h1 {
        @extend %h1-40px;
      }

      p {
        @extend %p-18px;
      }

      h5 {
        @extend %h5-12px;
      }
    }

    &-2 {
      @include block(50%, auto);
    }
  }
}