.article-link {
  text-decoration: none;
}


.article {
  @include frame(78%, auto, center);
  border-radius: 20px 20px 0 0;
  text-align: center;
  color: $c-nav-link;
  box-sizing: border-box;
  transition: .2s;
  
  img {
    display: block;
    width: 100%;
  }

  &__border-gradient {
    @include block(100%, auto);
    background: $c-linear;
    border-radius: 0 0 30px 30px;
  }

  &__info {
    @include frame(100%, auto, center);
    padding: {
      top: 60px;
      bottom: 40px;
      left: 15px;
      right: 15px;
    }
    box-sizing: border-box;
    background: white;
    border: 1px solid transparent;
    background-clip: padding-box;
    border-radius: 0 0 30px 30px;
    border-top: none;
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }

  h1 {
    @include text-gradient($c-linear);
    margin: 0 0 0.469em 0;
    text-transform: uppercase;

    &:hover {
      @include text-gradient($c-linear-hover);
    }
  }

  h5 {
    font-size: 0.625em;
    font-weight: 400;
    text-transform: uppercase;

    span {
      border-right: 1px solid #333333;
      padding-right: 5px;
      margin-right: 5px;
      box-sizing: border-box;
    }

    margin: 0;
  }

  p {
    width: 75%;
    line-height: 1.750em;
    margin: 2.188em auto;
    font-size: 1em;
  }

  &--mgbt-50 {
    margin-bottom: 50px;
  }

  /**  RESPONSIVE  **/ 
  @include media (1024px) {
    &__info {
      font-size: 14px;

      p {
        width: 90%;
      }
    }
  }

  @include media (900px) {
    max-width: 90%;
    &__info {
      padding: {
        top: 40px;
        bottom: 20px;
      }
    }
  }

  @include media (769px) {
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    &__info {
      p {
        width: 100%;
      }
    }
  }

  @include media (450px) {
    padding: 0 15px;
    &__border-gradient {
      border-radius: 0 0 10px 10px;
    }
    &__info {
      padding: {
        top: 25px;
        bottom: 0px;
      }
      border-radius: 0 0 10px 10px;
      font-size: 12px;

      #article__btn {
        display: none;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  @include media (376px) {
    &__info {
      font-size: 11px;
    }
  }

  @include media (355px) {
    &__info {
      font-size: 9px;

      p {
        margin: 15px 0;
      }
    }
  }
}