.blog {
  @include frame(100%);

  /**  Row  **/
  &__1st-row {
    @include block(100%, 792.31px);
    @include hero-img("../images/about-bg-1.png");
    @include flex();
    padding: {
      left: 12%;
      right: 12%;
      top: 100px;
    }
    box-sizing: border-box;
  }

  /*  Column  */
  &__col-1 {
    &-1 {
      h5 {
        @extend %h5-12px;
      }

      h1 {
        @extend %h1-40px;
      }
    }
  }
}