.blog {
  @include frame(100%);

  /**  Row  **/
  &__1st-row {
    @include block(100%, 792.31px);
    @include hero-img("../images/about-bg-1.png");
    @include flex();
    padding: {
      left: 12%;
      right: 12%;
    }
    box-sizing: border-box;
  }

  &__2nd-row {
    @include block(100%, auto);
  }

  &__pagination {
    @include block(100%, auto);
    font-size: 16px;
    text-align: center;
    color: $c-nav-link;

    span {
      @include block(60px);
      display: inline-block;
      font-size: 1em;
      line-height: 60px;
      border: 1px solid #E0E0E0;
      border-radius: 30px;
    }

    &--active {
      border: none;
    }
  }

  @include media (769px) {
    &__2nd-row {
      margin-top: -50px;
    }
  }

  @include media (540px) {
    &__2nd-row {
      margin-top: -80px;
    }
  }

  @include media (376px) {
    &__2nd-row {
      margin-top: -120px;
    }
  }

  /*  Column  */
  &__col-1 {
    &-1 {
    @include block(53%, auto);
      margin-top: 140px;
      h5 {
        @extend %h5-12px;
      }

      h1 {
        @extend %h1-40px;
      }

      p {
        @extend %p-18px;
      }
    }

    &-2 {
      @include block(47%, auto);
      margin-top: 30px;
    }
  }
}