.button {
  @include text(uppercase, white, 700);
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  &__text--linear {
    background: $c-linear;
    background-clip: text;
	  -webkit-text-fill-color: transparent;
  }

  &--linear-white {
    background: $c-linear;
    border-radius: 100px;
  }

  &--white-linear {
    background: white;
    border-radius: 100px;
  }

  &--pd-18-55 {
    padding: 18px 55px;
  }

  &--pd-20-35 {
    padding: 20px 35px;
  }

  &--pd-18-40 {
    padding: 18px 40px;
  }
}

.image-button {
  display: inline-block;
  cursor: pointer;
}

.button__container {
  @include frame(195px, 35px, center);
  @include flex(0, space-between, center);
}

.button__text {
  align-items: center;
}