%text-gradient-h2 {
  h2 {
    font-size: 28px;
    @include text-gradient($c-linear);
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      display: block;
      width: 50px;
      height: 7px;
      border-radius: 100px;
      background-color: $c-nav-active;
      bottom: -20px;
    }
  }
}

%text-gradient-h2-center {
  @extend %text-gradient-h2;
  h2 {
    text-align: center;
    display: block;

    &::before {
      right: 0;
      left: 0;
      margin: auto;
    }
  }
}

%text-gradient-p {
  p {
    color: $c-nav-link;
    line-height: 40px;
    margin: {
      top: 60px;
      bottom: 30px;
    }
  }
}

.col {
    font-size: 16px;

    &--light {
      font-size: 18px;
      margin-bottom: 30px;
    }
  
    /* Home component */
    // Col at First row
    &--home {
      @include block(35%, auto);
      
      margin: {
        top: 142px;
        left: 12%;
      }
  
      font-size: 40px;
      color: white;
  
      & span {
        font-weight: 700;
      }

    // Col at Second row
    
      &-2 {
        @include block(36.1%, auto);
        margin: {
          left: 3%;
        };

        @extend %text-gradient-h2;
        @extend %text-gradient-p;
        h2 {
          margin: {
            top: -32px;
            bottom: 0px;
          }
        }
      }

    // Col at Third row
      &-3 {
        @include block(77.5%, 367px);
        background-color: white;
        margin: {
          left: auto;
          right: auto;
        }
        border-radius: 30px;
        box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
        
        .home__th-row-1 {
          @include block(100%, 70px);
          @include flex(0, space-between, center);
          border-bottom: 1px solid #BBBBBB;
          padding: {
            left: 65px;
            right: 65px;
          };
          box-sizing: border-box;

          span {
            font-size: 18px;
            font-weight: 700;
            @include text-gradient($c-linear);
          }
        }

        .home__th-row-2 {
          @include block(100%, auto);

          .home__th-row-3 {
            width: 100%;
            @include flex(0, flex-end);
            padding: {
              top: 20px;
              right: 110px;
            }
            box-sizing: border-box;
          }

          .home__th-row-4 {
            width: 100%;
            @include flex(0, space-between);
            padding: {
              right: 65px;
              left: 65px;
            }
            box-sizing: border-box;

            .home__ch-col-1 {
              @include block(21%, auto);
              @include flex(0, space-between);

              div:nth-child(1) {
                p {
                  @include flex(0,0, center);
                  margin-bottom: 75px;
                  span {
                    margin: 0 15px;
                    font-size: 14px;
                    color: #333333;
                  }
                }
                p {
                  img {
                    @include block(28px);
                  }
                }
              }

              div:nth-child(2) {
                p {
                  margin-bottom: 52px;
                }
                span {
                  display: block;
                  font-size: 14px;
                  color: #333333;
                  margin-bottom: 25px;
                }
              }
            }

            .home__ch-col-2 {
              @include block(32%, auto);
              @include flex(0, space-between);

              div:nth-child(1) {
                p {
                  @include flex(0,0, center);
                  margin-bottom: 35px;
                  span {
                    margin: 0 15px;
                    font-size: 14px;
                    color: #333333;
                  }

                  &:nth-child(1) {
                    margin-bottom: 70px;
                  }
                }
                p {
                  img {
                    @include block(28px);
                  }
                }
              }

              div:nth-child(2) {
                font-size: 14px;
                color: #333333;
                p {
                  margin-bottom: 25px;
                  text-align: right;
                }

                strong {
                  display: inline-block;
                  margin-bottom: 25px;
                }
              }
            }

            .home__ch-col-3 {
              @include block(25%, auto);

              p {
                font-size: 14px;
                color: #333333;
                line-height: 24px;

                img {
                  margin-bottom: 2px;
                }

                &:nth-child(2) {
                  border-bottom: 1px solid #BBBBBB;
                  padding-bottom: 30px;
                  box-sizing: border-box;
                  img {
                    margin: 0 15px;
                  }
                }
              }
            }
          }
        }
      }

    // Col at fourth row
      &-4 {
        @include block(36%, auto);
        @extend %text-gradient-h2;
        @extend %text-gradient-p;

        margin: {
          top: -35px;
          left: 14%;
        }
      }
    // Col at fifth row
      &-5 {
        @include block(65.4%, 504px);
        background-color: white;
        opacity: 0.98;
        box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin: {
          left: auto;
          right: auto;
        }

        @extend %text-gradient-h2;
        @extend %text-gradient-h2-center;
        h2 {
          top: 80px;
        }

        div {
          padding: {
            top: 120px;
            left: 20%;
            right: 20%;
          }
          box-sizing: border-box;
          @include flex(0, space-between);
          p {
            @include block(262px, 226px);
            position: relative;
            border-radius: 15px;
            border: 2px solid transparent;
            background: white;
            background-clip: padding-box;
            position: relative;

            &::after {
              position: absolute;
              background: $c-linear;
              content: "";
              z-index: -1;
              top: -2px;
              left: -2px;
              right: -2px;
              bottom: -2px;
              border-radius: 15px;
            }

            img {
              @include absolute(-50px, 0px, 0px, 0px, auto);
            }

            span {
              @include block(100px, auto);
              @include absolute(0, 0px, 50px, 0px, auto);
              text-align: center;
              font-weight: 700;
            }
          }
        }
      }

    // Col at seventh-row 
      &-7 {
        @include block(100%, auto);
        @extend %text-gradient-h2-center;
        h2 {
          @include text-gradient(white);
          top: 540px;
        }
        @extend %text-gradient-p;
        p {
          @include block(36%, auto);
          color: white;
          margin: {
            top: 600px;
            left: auto;
            right: auto;
          }
          text-align: center;
        }

        img {
          margin: {
            top: 230px;
            left: 50%;
          };
        }
      }

    // Col at eighth row
      &-8 {
        @include block(100%, auto);

        @extend %text-gradient-h2-center;
        @extend %text-gradient-p;

        h2 {
          top: -80px;
        }

        p {
          text-align: center;
          margin-top: -25px;
        }
      }
    
    // Col at eighth row
      &-9 {
        @include block(100%, auto);
        @include flex(0, center);
        margin: {
          top: 110px;
        }

        & img {
          margin: {
            left: 15px;
            right: 15px;
          }
        }
      }

    // Col at tenth row
      &-10 {
        @include block(100%, auto);

        @extend %text-gradient-h2-center;
        @extend %text-gradient-p;

        p {
          text-align: center;
          margin-bottom: 60px;
        }
      }

    // Col at ninth row
      &-11 {
        @include block(100%, auto);
        @include flex(0, center);
      }
    }
  }