.col-image {
  & img {
    max-width: 100%;
  }

  /* Home */   
  // Col at First row
  &--home {
    margin: {
      top: 60px;
      right: 5%;
    }

  // Col at Second row
    &-2 {
      @include block(42%, auto);
      margin: {
        top: -20px;
        left: 10%;
      }

      @include media (1024px) {
        margin-top: -180px;
        width: 100%;
        text-align: center;
        margin-left: 0;

        img {
          max-width: 50%;
        }
      }

      @include media (924px) {
        margin-top: 0px;
        margin-bottom: -350px;
        img {
          max-width: 40%;
        }
      }

      @include media (768px) {
        margin-bottom: -320px;
      }

      @include media (600px) {
        margin-top: -180px;
        margin-bottom: 0;

        img {
          max-width: 70%;
        }
      }

      @include media (470px) {
        margin-top: -150px;

        img {
          max-width: 90%;
        }
      }
    }

    &-4 {
      @include block(35%, auto);
      margin: {
        top: -45px;
      }
    }
  }
}