%text-gradient-h2 {
  h2 {
    font-size: 1.750em;
    @include text-gradient($c-linear);
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      display: block;
      width: 50px;
      height: 7px;
      border-radius: 100px;
      background-color: $c-nav-active;
      bottom: -20px;
    }
  }
}

%text-gradient-h2-center {
  @extend %text-gradient-h2;
  h2 {
    text-align: center;
    display: block;

    &::before {
      right: 0;
      left: 0;
      margin: auto;
    }
  }
}

%text-gradient-p {
  p {
    font-size: 1em;
    color: $c-nav-link;
    line-height: 2.5em;
    margin: {
      top: 60px;
      bottom: 30px;
    }
  }
}

.col {
    &--light {
      font-size: 18px;
      margin-bottom: 30px;
    }
  
    /* Home component */
    // Col at First row
    &--home {
      @include block(35%, auto);
      
      margin: {
        top: 142px;
        left: 12%;
      }

      p {
        margin-top: 0px;
        line-height: 60px;
      }
  
      font-size: 40px;
      color: white;
  
      & span {
        font-weight: 700;
      }

    // Col at Second row
    
      &-2 {
        font-size: 16px;
        @include block(36.1%, auto);
        margin: {
          left: 3%;
        };

        @extend %text-gradient-h2;
        @extend %text-gradient-p;
        h2 {
          margin: {
            top: -32px;
            bottom: 0px;
          }
        }

        @include media (1300px) {
          font-size: 15px;
        }

        @include media (1024px) {
          width: 100%;
          text-align: center;
          margin-left: 0;
          margin-top: 80px;

          h2::before {
            right: 0;
            left: 0;
            margin: auto;
          }

          p {
            width: 80%;
            margin: {
              left: auto;
              right: auto;
            };
          }
        }

        @include media (924px) {
          font-size: 13px;
          margin-bottom: 60px;
        }

        @include media (600px) {
          margin-bottom: 0;
        }

        @include media (470px) {
          p {
            width: 100%;
          }
        }

        @include media (375px) {
          p {
            text-align: left;
            text-indent: 20px;
          }

          #home__btn-row2 {
            font-size: 12px;
            padding: 16px 30px;
          }
        }
      }

    // Col at Third row
      &-3 {
        @include block(1160px, 367px);
        background-color: white;
        margin: {
          left: auto;
          right: auto;
        }
        border-radius: 30px;
        box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        .home__th-row-1 {
          @include block(100%, 70px);
          @include flex(0, space-between, center);
          border-bottom: 1px solid #BBBBBB;
          padding: {
            left: 65px;
            right: 65px;
          };
          box-sizing: border-box;
          font-size: 1em;

          span {
            font-size: 1.125em;
            font-weight: 700;
            @include text-gradient($c-linear);
          }

          @include media (1024px) {
            span {
              font-size: 16px;
            }
          }
        }

        .home__th-row-2 {
          @include block(100%, auto);

          .home__th-row-3 {
            width: 100%;
            @include flex(0, flex-end);
            padding: {
              top: 20px;
              right: 110px;
            }
            box-sizing: border-box;
          }

          .home__th-row-4 {
            @include block(96.5%, 220px);
            margin: 0 auto;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 4px;
            }

            &::-webkit-scrollbar-thumb {
              background: $c-nav-active;
              border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
              background: #E5E5E5;
              border-radius: 10px;
            }
            &--container {
              @include block(100%, 300px);
              @include flex(0, space-between);
              padding: {
                right: 45px;
                left: 45px;
              }
              box-sizing: border-box;

              @include media (1024px) {
                padding: {
                  left: 20px;
                  right: 20px;
                }
              }
            }

            .home__ch-col-1 {
              @include block(21%, auto);
              @include flex(0, space-between);

              div:nth-child(1) {
                p {
                  @include flex(0,0, center);
                  margin-bottom: 75px;
                  span {
                    margin: 0 15px;
                    font-size: 14px;
                    color: #333333;
                  }
                }
                p {
                  img {
                    @include block(28px);
                  }
                }
              }

              div:nth-child(2) {
                p {
                  margin-bottom: 52px;
                }
                span {
                  display: block;
                  font-size: 14px;
                  color: #333333;
                  margin-bottom: 25px;
                }
              }
            }

            .home__ch-col-2 {
              @include block(32%, auto);
              @include flex(0, space-between);

              div:nth-child(1) {
                p {
                  @include flex(0,0, center);
                  margin-bottom: 35px;
                  span {
                    margin: 0 15px;
                    font-size: 14px;
                    color: #333333;
                  }

                  &:nth-child(1) {
                    margin-bottom: 70px;
                  }
                }
                p {
                  img {
                    @include block(28px);
                  }
                }
              }

              div:nth-child(2) {
                font-size: 14px;
                color: #333333;
                p {
                  margin-bottom: 25px;
                  text-align: right;
                }

                strong {
                  display: inline-block;
                  margin-bottom: 25px;
                }
              }
            }

            .home__ch-col-3 {
              @include block(25%, auto);

              p {
                font-size: 14px;
                color: #333333;
                line-height: 24px;

                img {
                  margin-bottom: 2px;
                }

                &:nth-child(2) {
                  border-bottom: 1px solid #BBBBBB;
                  padding-bottom: 30px;
                  box-sizing: border-box;
                  img {
                    margin: 0 15px;
                  }

                  // span:nth-child(2) {
                  //   display: inline;
                  // }
                }
              }
            }

            @include media (1200px) {
              .home__ch-col-1 {
                width: 24.5%;
              }

              .home__ch-col-3 {
                width: 29.2%;
              }
            }

            @include media (1024px) {
              .home__ch-col-1 {
                width: 28.4%;
              }

              .home__ch-col-3 {
                width: 29.2%;
              }
            }
          }
        }

        @include media (1200px) {
          width: 100%;
        }
      }

    // Col at fourth row
      &-4 {
        font-size: 16px;
        &-1 {
          width: 50%;
          @extend %text-gradient-h2;
          @extend %text-gradient-p;

          margin: {
            top: -35px;
          }
        }

        &-2 {
          width: 50%;
          margin-top: -50px;
          text-align: right;
          img {
            max-width: 100%;
          }
        }

        @include media (1250px) {
          &-1 {
            width: 60%;
          }
          &-2 {
            margin-top: 10px;
            width: 40%;
          }
        }

        @include media (1024px) {
          &-1 {
            margin-bottom: 40px;
            width: 100%;
            text-align: center;
            h2::before {
              left: 0;
              right: 0;
              margin: auto;
            }
            br {
              display: none;
            }
          }
          &-2 {
            margin-bottom: 60px;
            width: 100%;
            text-align: center;

            img {
              max-width: none;
              width: 330px;
            }
          }
        }

        @include media (615px) {
          &-1 {
            font-size: 14px;
            margin-bottom: 70px;
          }
          &-2 {
            img {
              width: 270px;
            }
          }
        }

        @include media (550px) {
          &-1 {
            margin-bottom: 20px;
          }
        }

        @include media (480px) {
          &-1 {
            margin-bottom: 40px;
          }
          &-2 {
            img {
              width: 220px;
            }
          }
        }

        @include media (424px) {
          &-1 {
            margin-bottom: 40px;

            #home__btn-row4 {
              display: none;
            }
          }

          &-2 {
            img {
              width: 280px;
            }
          }
        }
      }
    // Col at fifth row
      &-5 {
        // @include frame(984px, 504px,center);
        @include frame(984px, auto,center);
        padding-bottom: 69px;
        background-color: white;
        opacity: 0.98;
        box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        box-sizing: border-box;

        @extend %text-gradient-h2;
        @extend %text-gradient-h2-center;
        h2 {
          top: 80px;
        }

        div {
          padding: {
            top: 120px;
          }
          box-sizing: border-box;
          @include flex(0, center);
          p {
            @include block(262px, 226px);
            position: relative;
            border-radius: 15px;
            border: 2px solid transparent;
            background: white;
            background-clip: padding-box;
            margin: {
              left: 25px;
              right: 25px;
            };

            &::after {
              position: absolute;
              background: $c-linear;
              content: "";
              z-index: -1;
              top: -2px;
              left: -2px;
              right: -2px;
              bottom: -2px;
              border-radius: 15px;
            }

            img {
              @include absolute(-50px, 0px, 0px, 0px, auto);
            }

            span {
              @include block(100px, auto);
              @include absolute(0, 0px, 50px, 0px, auto);
              text-align: center;
              font-weight: 700;
            }
          }
        }

        @include media (900px) {
          div {
            p {
              margin: {
                left: 10px;
                right: 10px;
              }
            }
          }
        }

        @include media (768px) {
          // padding-bottom: 40px;
          div {
            flex-direction: column;
            padding: {
              left: 20px;
              right: 20px;
            }
            p {
              width: 100%;
              height: 120px;
              box-sizing: border-box;
              margin: {
                left: 0;
                right: 0;
              }

              img {
                width: 40px;
                top: -20px;
              }

              span {
                font-size: 14px;
                bottom: 20px;
              }
            }
          }
        }

        @include media (600px) {
          h2 {
            font-size: 24.5px;
          }
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        @include media (425px) {
          div {
            p {
              border-width: 1px;

              &::after {
                top: -1px;
                left:-1px;
                right: -1px;
                bottom:-1px;
              }
            }
          }
        }

        @include media (330px) {
          h2 {
            font-size: 22px;
          }
        }
      }
    // Col at sixth row
      &-6 {
        @include block(100%, auto);
        .home__sixth-row12 {
          font-size: 16px;
          @extend %text-gradient-h2-center;
          @extend %text-gradient-p;
          h2 {
            line-height: 40px;
          }
          p {
            text-align: center;
          }

          @include media (600px) {
            font-size: 14px;

            p {
              line-height: 0;
            }
          }

          @include media (340px) {
            font-size: 13px;
          }
        }
        .home__sixth-row11 {
          @include frame(1110px, auto,center);
        }
      }

    // Col at seventh-row 
      &-7 {
        font-size: 16px;
        @include block(100%, auto);
        @extend %text-gradient-h2-center;
        h2 {
          @include text-gradient(white);
          top: 540px;
        }
        @extend %text-gradient-p;
        p {
          @include block(36%, auto);
          color: white;
          margin: {
            top: 600px;
            left: auto;
            right: auto;
          }
          text-align: center;
        }

        img {
          margin: {
            top: 230px;
            left: 50%;
          };

          @include media (980px) {
            display: none;
          }
        }

        @include media (900px) {
          p {
            width: 50%;
          }
        }

        @include media (600px) {
          h2 {
            font-size: 24px;
          }

          p {
            font-size: 15px;
          }
        }

        @include media (500px) {
          p {
            width: 80%;
          }

          h2 {
            top: 620px;
          }

          p {
            margin-top: 680px;
          }
        }

        @include media (350px) {
          h2 {
            font-size: 22px;
          }
        }
      }

    // Col at eighth row
      &-8 {
        font-size: 16px;
        @include block(100%, auto);

        @extend %text-gradient-h2-center;
        @extend %text-gradient-p;

        h2 {
          top: -80px;
        }

        p {
          text-align: center;
          margin-top: -25px;
        }

        @include media (615px) {
          font-size: 14px;
        }

        @include media (350px) {
          font-size: 13px;
        }
      }
    
    // Col at eighth row
      &-9 {
        @include block(100%, auto);
        @include flex(0, center);
        margin: {
          top: 110px;
        }

        & img {
          margin: {
            left: 15px;
            right: 15px;
          }
        }

        @include media (900px) {
          margin-top: 200px;
          img {
            width: 220px;
          }
        }

        @include media (768px) {
          margin-top: 200px;
          img {
            width: 180px;
          }
        }

        @include media (600px) {
          margin-top: 150px;
          img {
            width: 150px;
          }
        }

        @include media (470px) {
          img {
            width: 130px;
          }
        }

        @include media (380px) {
          img {
            margin: {
              left: 7px;
              right: 7px;
            }
          }
        }

        @include media (330px) {
          img {
            width: 110px;
          }
        }
      }

    // Col at tenth row
      &-10 {
        @include block(100%, auto);

        @extend %text-gradient-h2-center;
        @extend %text-gradient-p;

        p {
          text-align: center;
          margin-bottom: 60px;
        }
      }

    // Col at ninth row
      &-11 {
        @include block(100%, auto);
        @include flex(0, center);
      }
    }
  }