.contact {
    @include frame(100%);
  
    /**  Row  **/
    &__1st-row {
      @include block(100%, 792.31px);
      @include hero-img("../images/about-bg-1.png");
      @include flex();
      padding: {
        left: 12%;
        right: 12%;
      }
      box-sizing: border-box;
    }

    &__2nd-row {
      @include block(100%, auto);
      padding: 0 10px;
      box-sizing: border-box;

      p {
        font-size: 17px;
        color: $c-nav-link;
        text-align: center;
        margin-top: -100px;
        margin-bottom: 50px;
      }
    }
  
    &__3th-row {
      @include block(100%, auto);
      text-align: center;
      margin: 80px 0;
      padding: 0 10px;
      box-sizing: border-box;

      img {
        max-width: 100%;
      }
    }
  
    /*  Column  */
    &__col-1 {
      &-1 {
      @include block(53%, auto);
        margin-top: 140px;
        h5 {
          @extend %h5-12px;
        }
  
        h1 {
          @extend %h1-40px;
        }
  
        p {
          @extend %p-18px;
        }
      }
  
      &-2 {
        @include block(47%, auto);
        margin-top: 60px;
      }
    }
  }

/*  RESPONSIVE  */ 
@include media (425px) {
  
}