%h1-40px {
  font-size: 40px;
  color: white;
  line-height: 60px;
}

%p-18px {
  font-size: 18px;
  color: white;
}

%h5-12px {
  font-size: 12px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}