.home__input {
  @include block(388px, auto);
  background: $c-linear;
  border-radius: 40px;
  margin-right: 10px;

  input {
    @include block(100%, auto);
    display: block;
    padding: 16px;
    background: white;
    border-radius: 50px;
    outline: none;
    box-sizing: border-box;
    text-indent: 10px;
    border: 1px solid transparent;
    background-clip: padding-box; 

    &::placeholder {
        color: $c-nav-link;
        opacity: 1;
    }
  }
}