.header {
  @include frame(100%, 134px);
  // 100% = pd: 14%, logo: 12%, nav: 54%, dd: 20%

  @include flex(0,0,center);

  &--pd {
    @include padding(
      0, 0px, 7%, 0px, 7%
    );

    @include media (1250px) {
      @include padding(
        0, 0px, 4%, 0px, 4%
      );
    }

    @include media (1150px) {
      @include padding(
        0, 0px, 2%, 0px, 2%
      );
    }

    @include media (1024px) {
      @include padding(
        0, 0px, 4%, 0px, 4%
      );
    }
  }

  &__logo {
    width: 12%;

    & img {
      width: 100%;
      height: auto;
    }

    @include media (1024px) {
      width: 150px;
    }

    @include media (425px) {
      width: 130px;
    }

    @include media (375px) {
      width: 120px;
    }
  }

  /*  RESPONSIVE  */ 
  @include media (1024px) {
    justify-content: space-between;
    &__nav, &__dropdown {
      display: none;
    }
  }

  @include media (425px) {
    height: 100px;
  }
}

.header__nav {
  width: 54%;
  font-size: 14px;
  text-align: right;

  &--active::after {
    content: " ";
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 10px;
    background: $c-nav-active;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: auto;
  }

  & a {
    @include link(
      0, $c-nav-link, 0, 700
    );
    position: relative;

    margin: {
      left: 35px;
      right: 35px;
    }

    &:hover:before{
      display: block;
    }

    &::before {
      display: none;
      content: " ";
      position: absolute;
      width: 50%;
      height: 3px;
      border-radius: 10px;
      background: $c-nav-active;
      left: 0;
      right: 0;
      bottom: -5px;
      margin: auto;
    }

    @include media (1150px) {
      margin: {
        left: 30px;
        right: 30px;
      }
    }
  }
}

.header__dropdown {
  width: 22%;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  user-select: none;
  &-title {
    @include text(
      0,$c-nav-link, 700
    );

    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: 6px;
      right: 40px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  &-content {
    @include block(160px, auto, 5px);
    @include absolute(50px,0,0,190px);
    text-align: left;
    border: 1px solid #E0E0E0;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: -14px;
      left: 14px;
      border-width: 6px;
      border-style: solid;
      border-color: transparent transparent #E0E0E0 transparent;
    }

    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: -12px;
      left: 15px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }

    & span {
      width: 100%;
      display: inline-block;
      padding: 8px 12px;
      box-sizing: border-box;
      @include text(0,white, 400);

      &:first-child {
        color: $c-nav-link;
        background: white;
        border-radius: 5px 5px 0px 0px;
      }

      &:last-child {
        background: $c-linear;
        border-radius: 0px 0px 5px 5px;
      }
    }
  }
}