.hero {
  @include block(100%, 792.31px);
  @include hero-img("../images/about-bg-1.png");
  @include flex();
  padding: {
    left: 12%;
    right: 12%;
  }
  box-sizing: border-box;

  &__col {
    &-1 {
      @include block(50%, auto);
      margin-top: 140px;
      font-size: 16px;
      h5 {
        @extend %h5-12px;
        font-size: 0.750em;
      }
  
      h1 {
        @extend %h1-40px;
        font-size: 2.500em;
        line-height: 1.5;
      }
  
      p {
        @extend %p-18px;
        font-size: 1.125em;
        line-height: 1.5;
      }
    }

    &-2 {
      @include block(50%, auto);
      text-align: right;
    }
  }

  /*  CONTACT COMPONENT  */
  &__contact {
    margin-top: 35px;
  }

  @include media (1330px) {
    padding: {
      left: 10%;
      right: 10%;
    }
  }

  @include media (1230px) {
    padding: {
      left: 7%;
      right: 7%;
    }
  }

  @include media (1130px) {
    padding: {
      left: 3%;
      right: 3%;
    }
  }

  @include media (1024px) {
    &__col {
      &-1 {
        width: 60%;
        font-size: 14px;
      }

      &-2 {
        width: 40%;
        margin-top: 100px;
        img {
          width: 100%;
        }
      }
    }
  }

  @include media (924px) {
    flex-direction: column;
    &__col {
      &-1 {
        width: 100%;
        margin-top: 50px;
        text-align: center;
        font-size: 13px;
      }

      &-2 {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        img {
          width: 45%;
        }
      }
    }
  }

  @include media (668px) {
    &__col {

      &-2 {
        img {
          width: 60%;
        }
      }
    }
  }

  @include media (426px) {
    padding: {
      left: 15px;
      right: 15px;
    }

    &__col {
      &-1 {
        margin-top: 30px;
        font-size: 11px;
      }

      &-2 {
        margin-top: 25px;

        img {
          width: 85%;
        }
      }
    }
  }

  @include media (321px) {
    &__col-1 {
      font-size: 10px;
    }

    &__col-2 {
      margin-top: 40px;
    }
  }
}