.home {
  @include frame(100%);

  /* First row */ 
  &__f-row {
    @include block(100%, 816.31px);
    @include hero-img('../images/HomeBg.png');
    @include flex(0,space-between);
  }

  /* Second row */ 
  &__s-row {
    @include block(100%, 170px);
    @include flex();
  }

  /* Third row */ 
  &__th-row {
    @include block(100%, 1128.41px);
    @include hero-img('../images/home-bg-2.png');
    padding: {
      top: 460px;
    }
    box-sizing: border-box;
  }

  /* fourth row */ 
  &__fourth-row {
    @include block(100%, 480px);
    @include flex();
  }

  /* fifth row */
  &__fifth-row {
    @include block(100%, 625px);
    @include hero-img('../images/home-bg-3.png');
    padding: {
      top: 143px;
    }
    box-sizing: border-box;
  }

  /* sixth row */ 
  &__sixth-row {
    @include block(100%, 460px);
    padding: {
      top: 160px;
    }
    box-sizing: border-box;
  }

  /* Seventh row */ 
  &__seventh-row {
    @include block(100%, 1542.15px);
    @include hero-img('../images/home-bg-4.png');
  }

  /* Eighth row */
  &__eighth-row {
    @include block(100%, 657px);
    @include hero-img('../images/home-bg-5.png');
    margin-top: -80px;
  } 

  /* Ninth row */ 
  &__ninth-row {
    @include block(100%, 675px);
    padding: {
      top: 280px;
    }
    box-sizing: border-box;
  }

  //**  RESPONSIVE  **//
}