.home {
  @include frame(100%);

  /* First row */ 
  &__f-row {
    @include block(100%, 816.31px);
    @include hero-img('../images/HomeBg.png');
    @include flex(0,space-between);
  }

  /* Second row */ 
  &__s-row {
    @include block(100%, 170px);
    @include flex();

    @include media (1024px) {
      flex-direction: column;
      padding: 0 15px;
      box-sizing: border-box;
    }

    @include media (924px) {
      flex-direction: column-reverse;
    }

    @include media (600px) {
      flex-direction: column;
    }
  }

  /* Third row */ 
  &__th-row {
    @include block(100%, 1128.41px);
    @include hero-img('../images/home-bg-2.png');
    padding: {
      top: 460px;
      left: 15px;
      right: 15px;
    }
    box-sizing: border-box;
  }

  /* fourth row */ 
  &__fourth-row {
    @include frame(1270px, 480px,center);
    @include flex();
    padding: 0 75px;
    box-sizing: border-box;

    @include media (1024px) {
      flex-direction: column-reverse;
    }

    @include media (424px) {
      padding: 0 15px;
    }
  }

  /* fifth row */
  &__fifth-row {
    @include block(100%, 625px);
    @include hero-img('../images/home-bg-3.png');
    padding: {
      top: 143px;
    }
    box-sizing: border-box;

    @include media (1024px) {
      padding: {
        left: 75px;
        right: 75px;
      }
    }

    @include media (600px) {
      padding: {
        left: 35px;
        right: 35px;
      }
    }

    @include media (425px) {
      padding: {
        left: 15px;
        right: 15px;
      }
    }
  }

  /* sixth row */ 
  &__sixth-row {
    @include block(100%, 460px);
    padding: {
      top: 160px;
    }
    box-sizing: border-box;

    @include media (610px) {
      height: 300px;
    }

    @include media (515px) {
      height: 200px;
    }

    @include media (355px) {
      height: 180px;
    }
  }

  /* Seventh row */ 
  &__seventh-row {
    @include block(100%, 1542.15px);
    @include hero-img('../images/home-bg-4.png');
  }

  /* Eighth row */
  &__eighth-row {
    @include block(100%, 657px);
    @include hero-img('../images/home-bg-5.png');
    margin-top: -80px;
  } 

  /* Ninth row */ 
  &__ninth-row {
    @include block(100%, 675px);
    padding: {
      top: 280px;
    }
    box-sizing: border-box;

    @include media (768px) {
      height: 580px;
      padding-top: 170px;
    }

    @include media (600px) {
      height: 520px;
      padding-top: 100px;
    }

    @include media (330px) {
      height: 440px;
      padding-top: 60px;
    }
  }

  //**  RESPONSIVE  **//
}