.intro-text {

  &--light {
    font-size: 18px;
    margin-bottom: 30px;
  }

  /* Home component */
  &--home-style {
    @include block(35%, auto);
    
    margin: {
      top: 142px;
      left: 12%;
    }

    font-size: 40px;
    color: white;

    & span {
      font-weight: 700;
    }
  }
}