.intro-text {
  @include block(35%, auto);

  &--light {
    font-size: 18px;
    margin-bottom: 30px;
  }

  &--spacing {
    margin: {
      top: 142px;
      left: 12%;
    }
  }

  &--color {
    font-size: 40px;
    color: white;

    & span {
      font-weight: 700;
    }
  }
}