.m-menu-group {
  @include flex(0,0,center);
}

#m-nav {
  &__login-btn {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    padding: 15px 40px;
    margin-top: 15px;
  }
}

.m-nav {
  display: none;
  @include block(35px);
  justify-content: flex-end;

  margin: {
    left: 20px;
  };
  
  &__btn {
    @include block(100%);
    cursor: pointer;
  }

  &__content {
    @include block(100%, auto);
    position: absolute;
    left: 0;
    top: 100px;
    background: white;
    padding: 15px;
    box-sizing: border-box;

    @include media (425px, 'min') {
      top: 134px;
      padding: 15px 20px;
    }
  }

  &__tab {
    a {
      display: block;
      @include link(uppercase, $c-nav-link, 0, 600);
      font-size: 14px;
      padding: 10px 0;
      box-sizing: border-box;
    }
  }

  &__dropdown {
    @include flex(0,space-between,center,wrap);
    width: 100%;
    background: rgba(0,0,0,0.09);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 300;
    font-size: 14px;
    margin: 15px 0;
    cursor: pointer;
    user-select: none;

    &-content {
      width: 100%;
      margin-top: 20px;
      display: none;
      a {
        display: block;
        padding: 5px 0;
        box-sizing: border-box;
        color: #606060;
        text-decoration: none;

        &:hover {
          color: $c-nav-link;
        }
      }
    }
  }

  &__arrow, &__down-arrow {
    display: inline-block;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent #606060;
  }

  &__down-arrow {
    border-color: #606060 transparent transparent transparent;
  }

  // Responsive
  @include media (1024px) {
    display: block;
  }
  @include media (375px) {
    @include block(30px);
  }
}

@include media (768px) {
  #header__login-btn {
    padding: 15px 40px;
    font-size: 13px;
  }
}

@include media (375px) {
    #header__login-btn {
      display: none;
    }
  }