.message-form {
  @include frame(732px, auto, center);
  color: $c-nav-link;

  $border-color: #D1D1D1;

  &__input-group {
    @include flex(0, space-between);
    margin-bottom: 30px;
  }

  input {
    width: 47.5%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $border-color;
    outline: none;
    box-sizing: border-box;
    font-family: $f-primary;
  }

  textarea {
    width: 100%;
    font-family: $f-primary;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    outline: none;
    resize: none;
    margin-bottom: 30px;
  }

  input::placeholder ,textarea::placeholder {
    opacity: 1;
    font-size: 14px;
  }

  /*  RESPONSIVE  */
  @include media (425px) {
    &__input-group, textarea {
      margin-bottom: 20px;
    }

    .button {
      width: 100%;
      text-align: center;
      box-sizing: border-box;
    }
  }
}