.message-form {
  @include block(100%, auto);

  $border-color: #D1D1D1;
  input {
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $border-color;
    outline: none;
  }
}