.post {
  &__hero {
    @include block(100%, 792.31px);
    @include hero-img("../images/post-img-2.png");

    font-size: 16px;
    text-align: center;
    padding: {
      left: 100px;
      right: 100px;
      top: 230px;
    }
    box-sizing: border-box;
    h1 {
      color: white;
      text-transform: uppercase;
      margin: 0;
    }

    h2 {
      font-size: 2em;
      color: white;
      margin: 0.625em 0;
    }
    
    h5 {
      font-size: 10px;
      font-weight: 400;
      color: white;
      box-sizing: border-box;

      span {
        border-right: 1px solid white;
        margin-right: 10px;
        padding-right: 10px;
      }
    }

    @include media (600px) {
      font-size: 14px;
      padding: {
        left: 50px;
        right: 50px;
      }
    }

    @include media (425px) {
      font-size: 13px;
      padding: {
        top: 150px;
        left: 15px;
        right: 15px;
      }
    }

    @include media (345px) {
        font-size: 12px;
      }
  }
  
  &__content {
    @include frame(762px, auto, center);
    margin-top: -60px;
    padding: {
      left: 15px;
      right: 15px;
    }
    box-sizing: border-box;
    
    div {
      font-size: 16px;
      &:nth-child(2) {
        @include flex();
        span {
          width: 47.5%;
          margin-right: 55px;
        }
        img {
          margin-top: 30px;
          max-width: 100%;
          height: auto;
        }
      }
    }
    p {
      font-size: 1em;
      line-height: 1.750em;
      color: $c-nav-link;
      margin-bottom: 40px;
      margin-top: 0px;
    }

    @include media (768px) {
      margin-top: -100px;
    }

    @include media (525px) {
      margin-top: -120px;
    }

    @include media (425px) {
      margin-top: -130px;
    }
  }

  &__contact {
    @include frame(762px, auto, center);
    padding: {
      left: 15px;
      right: 15px;
      bottom: 60px;
    }
    box-sizing: border-box;
    font-size: 16px;

    color: #333333;

    p {
      margin-bottom: 50px;
    }

    @include media (425px) {
      font-size: 15px;
    }
  }
}