.sell {
  @include modal;

  &__container {
    max-width: 888px;
    background-color: white;
    margin: 100px auto;
    border-radius: 30px;
    color: $c-nav-link;
    padding: 50px 25px;
    box-sizing: border-box;
    overflow: hidden;

    @include media (910px) {
      margin: 100px 15px;
    }

    @include media (768px) {
      margin: 40px 15px;
    }
  }

  &__menu {
    text-align: center;
    font-size: 16px;

    h2 {
      @include text-gradient($c-linear);
      margin: {
        top: 0;
        bottom: 30px;
      }
    }
    
    p {
      margin: 0;
    }

    @include media (425px) {
      font-size: 15px;
    }
  }

  &__card-group {
    @include flex(0, space-between);
    @include frame(650px, auto, center);
    margin: {
      top: 60px;
      bottom: 50px;
    };

    @include media (425px) {
      margin: {
        top: 40px;
        bottom: 40px;
      };
    }
  }

  &__card-group-2 {
    @include flex(0,0,0,wrap);
    @include frame(755px, auto, center);
    margin: {
      top: 40px;
      bottom: 20px;
    };

    @include media (840px) {
      justify-content: center;
    }
  }

  &__card {
    cursor: pointer;
    border-radius: 15px;
    color: white;

    &--big {
      position: relative;
      @include block(308px, 214px);

      img {
        @include block(45px);
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
      }

      span {
        position: absolute;
        top: 140px;
        left: 0;
        right: 0;
        margin: auto;
      }

      &:hover {
        opacity: 0.9;
      }

      @include media (768px) {
        width: 45%;
        margin: {
          left: auto;
          right: auto;
        };
      }

       @include media (600px) {
         height: 150px;

         img {
           top: 40px;
         }

         span {
           top: 100px;
         }
       }

      @include media (425px) {
        height: 120px;
        img {
          top: 30px;
          @include block(35px);
        }

        span {
          font-size: 13px;
          top: 80px;  
        }
      }

      @include media (350px) {
        width: 46%;
        height: 100px;

        img {
          @include block(27px);
        }

        span {
          top: 70px;
          font-size: 9px;
        }
      }
    }

    &--small {
      width: 231.52px;
      margin: 14px 10px;

      &:hover {
        opacity: 0.9;
      }

      @include media (840px) {
        margin: 8px 7px;
        width: 30%;

        img {
          width: 100%;
        }
      }

      @include media (768px) {
        width: 40%;
      }

      @include media (425px) {
        width: 45%;
      }

      @include media (361px) {
        width: 45%;
        margin: 5px;
      }
    }

    &--orange {
      background: radial-gradient(100% 100% at 46.86% 0%, #FF8000 0%, #E34141 100%);
    }

    &--blue {
      background: linear-gradient(145.64deg, #00E0FF 9.67%, #0047FF 107.49%);
    }
  }

  &__close-btn {
    display: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    @include media (768px) {
      display: block;
    }
  }

  &__detail {
    position: relative;
    text-align: center;
    &-bg {
      position: absolute;
      @include block(484px);
      border-radius: 100%;
      left: 0;
      right: 0;
      margin: auto;
      top: -320px;

      @include media (768px) {
        transform: scale(.8);
      }
    }

    &-card {
      height: 225px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
      }

      @include media (768px) {
        height: 170px;
        img {
          transform: scale(.8);
          top: -35px;
        }
      }
    }

    p {
      span {
        font-weight: 700;
      }
      
      &:nth-child(3) {
        width: 70%;
        margin:  0 auto;
        padding: 30px;
        border-bottom: 1px solid #CDCDCD;
      }
    }

    &-intro {
      margin: 35px 0;
      font-size: 12px;
      line-height: 18px;
    }

    &-undo {
      @include block(18px);
      cursor: pointer;
      position: absolute;
      top: -20px;
      right: 5px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}