.sell {
  @include modal;

  &__container {
    max-width: 888px;
    background-color: white;
    margin: 100px auto;
    border-radius: 30px;
    color: $c-nav-link;
    padding: 50px 25px;
    box-sizing: border-box;

    @include media (910px) {
      margin: 100px 15px;
    }
  }

  &__menu {
    text-align: center;
    font-size: 16px;

    h2 {
      @include text-gradient($c-linear);
      margin: {
        top: 0;
        bottom: 30px;
      }
    }
    
    p {
      margin: 0;
    }
  }

  &__card-group {
    @include flex(0, space-between);
    @include frame(650px, auto, center);
    margin: {
      top: 60px;
      bottom: 50px;
    };

    @include media (768px) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__card {
    cursor: pointer;
    border-radius: 15px;
    color: white;

    &--big {
      position: relative;
      @include block(308px, 214px);

      img {
        @include block(45px);
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
      }

      span {
        position: absolute;
        top: 140px;
        left: 0;
        right: 0;
        margin: auto;
      }

      &:hover {
        opacity: 0.9;
      }

      @include media (768px) {
        margin: {
          bottom: 40px;
          left: auto;
          right: auto;
        };
      }
      
      @include media (365px) {
        width: 100%;
      }
    }

    &--orange {
      background: radial-gradient(100% 100% at 46.86% 0%, #FF8000 0%, #E34141 100%);
    }

    &--blue {
      background: linear-gradient(145.64deg, #00E0FF 9.67%, #0047FF 107.49%);
    }
  }

  &__close-btn {
    display: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    @include media (768px) {
      display: block;
    }
  }
}