.sell {
  @include modal;

  &__container {
    max-width: 888px;
    background-color: white;
    margin: 100px auto;
    border-radius: 30px;
    color: $c-nav-link;
    padding: 50px 25px;
    box-sizing: border-box;
  }

  &__menu {
    text-align: center;
    font-size: 16px;

    h2 {
      @include text-gradient($c-linear);
      margin: {
        top: 0;
        bottom: 30px;
      }
    }
    
    p {
      margin: 0;
    }
  }

  &__card {
    border-radius: 15px;

    &--big {
      @include block(427px, 393px);
    }

    &--orange {
      background: radial-gradient(100% 100% at 46.86% 0%, #FF8000 0%, #E34141 100%);
    }

    &--blue {
      background: linear-gradient(145.64deg, #00E0FF 9.67%, #0047FF 107.49%);
    }
  }
}