.modal {
  @include modal;

  &__content {
    position: absolute;
    max-width: 644px;
    height: 583px;
    border-radius: 30px;
    background-color: white;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: $c-nav-link;
    padding: 50px 25px;
    box-sizing: border-box;
    text-align: center;

    h2 {
      @include text-gradient($c-linear);
      text-align: center;
      margin: {
        top: 0;
        bottom: 30px;
      }
    }

    p {
      text-align: center;
      margin: 0;
    }

    p:nth-child(2) {
      margin-bottom: 30px;
    }

    p:nth-child(4) {
      width: 345px;
      margin: 5px auto;
      text-align: right;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    p:nth-child(6) {
      span {
        text-decoration: underline;
        font-weight: 700;
        cursor: pointer;
      }
    }

    #signin {
      margin: {
        top: 40px;
        bottom: 50px;
      }
    }
  }

  &__input-group {
    width: 100%;
    @include flex(column, center);
  }

  &__input {
    @include block(345px, auto);
    display: block;
    padding: 20px;
    box-sizing: border-box;
    margin: 15px auto;
    border-radius: 5px;
    outline: none;
    border: 1px solid #D1D1D1;
    font-family: $f-primary;

    &::placeholder {
      opacity: 1;
    }
  }

  &__close {
    @include block(50px, auto);
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;

    img {
      width: 17px;
    }
  }

  @include media (425px) {
    &__content {
      font-size: 15px;

      p:nth-child(4) {
        width: 100%;
      }
    }

    &__input {
      width: 100%;
    }
  }
}