/* CSS Reset */ 
@import-normalize;

/* Variables */
// Background
$bg-layout: white;

// Importing the mixin package
@import 'mixin';

// Importing the sass of the component
@import 'layout', 'header', 'nav';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
