/* CSS Reset */ 
@import-normalize;

/* Variables */
// Background
$bg-layout: white;
$bg-footer: #151515;
$c-linear: linear-gradient(
  178.18deg, #FD749B -13.56%, #281AC8 158.3%
);
$c-linear-2: linear-gradient(
  190deg, #FD749B -13.56%, #281AC8 158.3%
);
$c-linear-3: linear-gradient(
  -190deg, #FD749B -13.56%, #281AC8 158.3%
);
$c-linear-hover: linear-gradient(
  -190deg, #FD749B -13.56%, #281AC8 208.3%
);
$c-nav-active: #FD749B;
// Text color
$c-nav-link: #333333;
$c-footer: #A2A2A2;
// Font
$f-primary: 'Poppins';

/* Importing the fonts */
@import 'font';

// Importing the mixin package
@import 'mixin';

// Importing the sass of the component
@import 'layout', 'header', 'home','about',
  'blog','post','contact','footer','signin';
@import
  'button', 'intro-image','intro-text',
  'col-image','column', 'gradient-input',
  'extend', 'article','message-form',
  'home-carousel','m-nav','hero','home-hero',
  'email-form','about-carousel','sell','top-btn';

body {
  background-color: white;
  margin: 0;
  font-family: $f-primary,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
